[submodule "rv32ima/lib/imgui"]
	path = rv32ima/lib/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "rv32ima/lib/implot"]
	path = rv32ima/lib/implot
	url = https://github.com/epezent/implot.git
